<!DOCTYPE html>
<html>
<head>
    <title>Appointment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">🏥 Hospital Management System</div>

<div class="container">
    <div class="card">

        <h2>Book Appointment</h2>

        <form method="POST">

            <select name="patient_id">
                {% for p in patients %}
                <option value="{{ p[0] }}">{{ p[1] }}</option>
                {% endfor %}
            </select>

            <select name="doctor_id">
                {% for d in doctors %}
                <option value="{{ d[0] }}">{{ d[1] }}</option>
                {% endfor %}
            </select>

            <input type="date" name="date">
            <input type="time" name="time">

            <button type="submit">Book</button>

        </form>

    </div>
</div>

</body>
</html>